<h1>Listing Patients</h1>

<%= link_to 'Add Patient', new_patient_path %><br>
<br>

<table>
   <tr>
      <th>MRN</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th colspan="3">Actions</th>
   </tr>

   <% @patients.each do |p| %>
      <tr>
         <td><%= p.mrn %></td>
         <td><%= if (p.first_name != "") 
                     p.first_name
                 else
                     "N/A"
                 end %></td>
         <td><%= if (p.last_name != "") 
                     p.last_name
                 else
                     "N/A"
                 end %></td>
         <td><%= link_to 'Show', patient_path(p) %> |</td> 
         <td><%= link_to 'Edit', edit_patient_path(p) %> |</td>
         <td><%= link_to 'Destroy', patient_path(p),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
      </tr>
   <% end %>
</table>
